.App {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  /*margin-top: 20px;*/
  padding-bottom: 30px;
  background-position: center;
  background-size: cover;
  justify-content: flex-end;
  height: 100vh;
  background-image: url('https://www.wallpapertip.com/wmimgs/43-435792_papel-de-parede-do-star-wars-para-pc.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}
.bon-app{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.btn{

  width: 125px;
  height: 112px;
  font-size: x-large;
  font-family: starjedi, serif;
  font-weight: bolder;
  color: #121212; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffff61 0%, #feb645 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffff61 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffff61 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff61', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */

}